#main_container {
    /*height: 100vh;*/
    padding-top: 135px;
    display: flex;
    justify-content: center;
    order: 1;
}


/*-----로그인/회원가입*/

.form_container{
    width: 350px;
    margin: 0 auto

}

.form_container .form{
    background-color: #fff;
    border: 1px solid #e6e6e6;
    padding: 0 40px 25px 40px;
    margin-bottom: 30px;
}


.form label{
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}

.form input{
    width: 100%;
    background: 0 0;
    border: 1px solid #efefef;
    border-radius: 3px;
    box-sizing: border-box;
    color: #262626;
    font-size: 14px;
    padding: 7px 8px 7px;
}

.form p{
    margin-bottom: 10px;
}

.form .submit_btn{
    background: #3897f0;
    border-color: #3897f0;
    color: #fff;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    font-size: 14px;
    font-weight: 600;
    line-height: 28px;
    outline: none;
    width: 100%;
    padding: 0;
    margin-top: 10px;
    cursor: pointer;
}

.bottom_box{
    text-align: center;
    /*height: 290px;*/
    background-color: #fff;
    border: 1px solid #e6e6e6;
    padding: 20px 40px 25px 40px;
    /*display: flex;*/
    /*align-items: center;*/
}

form .emailpass {
    width: 80%;
}

.form .btn_con{
    background: #3897f0;
    border-color: #3897f0;
    color: #fff;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    font-size: 14px;
    font-weight: 600;
    line-height: 25px;
    outline: none;
    width: 17%;
    padding: 0;
    margin-top: 10px;
    cursor: pointer;
}

/*-----상점*/

.shop_container{
    width: 650px;
    margin: 0 auto

}

.shop_container .form{
    background-color: #fff;
    border: 1px solid #e6e6e6;
    padding: 0 40px 25px 40px;
    margin-bottom: 30px;
}

.form textarea{
    width: 100%;
    background: 0 0;
    border: 1px solid #efefef;
    border-radius: 3px;
    box-sizing: border-box;
    color: #262626;
    font-size: 14px;
    padding: 7px 8px 7px;
    resize: none; 
}

.postmodal{
    background : rgba(0,0,0,0.25);
  
    left:0;
    top:0;
    height:100%;
    width:30%;
}


.form p{
    padding-top: 5%;
}


/* 헤더 css */
.navbar {
    background-color: #9d9de5;
}

/* 메인 */

.item-list {
    margin-bottom: -10px;
}

.item-list > .item {
    width: 237px;
    height: 170px;
    margin: 10px;
    margin-left: 25px;
    border: 1px solid #dbdbdb;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-maintext {
    font-size: 23px;
    margin: 0; /* 중앙 정렬을 위해 margin을 제거합니다 */
    text-align: center; /* 텍스트 중앙 정렬 */
}

/* 업체 */

.menu_list{
    margin-right: 1%;

}

#menu_container {
    /*height: 100vh;*/
    padding-top: 135px;
    display: flex;
    justify-content: center;
    order: 1;
}

input[readOnly] {
    background-color: #e9ecef; /* 비활성화된 것처럼 보이도록 회색 배경 */
    cursor: not-allowed;      /* 커서를 '금지' 아이콘으로 변경 */
}

/* 조회 */

.big-column {
    width: 100%;

}

.item-card {
    width: 400px;
    height: 80px;
    border: 1px solid #e6e6e6;
    background-color: #ffffff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    margin-left: 20px;
    display: flex;
    align-items: center;


    
}

.item-image {
    position: relative;

}
.item-info{
    padding-left: 5px;
}
.item-info p {


    justify-content: center;
}
#shop_container {
    /*height: 100vh;*/
    padding-top: 10px;
    display: flex;
    justify-content: center;
    order: 1;
}

#detail_container {
    /*height: 100vh;*/
    padding-top: 10px;
    display: flex;
    justify-content: center;
    order: 1;
}

/* 업체 조회상세페이지 */

.mv {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    width: 80%;
    height: 80%;
    /* border: 1px solid black; */
}

.left-sections {
    display: flex;
    flex-direction: column;
    flex: 2;
}

.section {
    border: 1px solid black;
    padding: 20px;
    margin: 10px;
    /* text-align: center; */
}
.basketto{
    text-align: center;
}

#c {
    flex: 1;

    align-items: center;
    justify-content: center;
}

.basket{
    padding: 5px;

}

.basket-data{
    display: flex;
}